<header class=''>
    <nav class='navigation'>
        <ul class='navigation'>
            <li class='elem'><a href="#">Home</a></li>
            <li class='elem'><a href="#">Connexion</a></li>
            <li class='elem'><a href="#">Inscription</a></li>
            <li class='elem'><a href="#">Panier</a></li>
            <li class='elem'><a href="#">Déconnexion</a></li>
            <li class='elem'><a href="#">Dashboard Admin</a></li>
            <li class='elem'><a href="#">Gestion Pizzas</a></li>
            <li class='elem'><a href="#">Gestion Utilisateurs</a></li>

        </ul>
    </nav>
</header>   