body {
    background-color: lightgray;
}
.navigation {
    background-color: yellow;
    text-decoration: none;
    list-style-type: none;
    display: inline-flex;
  }
.elem {
    /*! text-decoration: none; */
    margin-left: 5%;
    text-decoration: none;
}

a{
    text-decoration:none;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    padding:1%;
}